QPushButton#FloatButton {
    background-color: rgba(0, 0, 0, 100);
    color: white;
    border-radius: 20px;
}

QPushButton#FloatButton:hover {
    background-color: rgba(0, 0, 0, 160);
}

QLineEdit {
    border-radius: 15px;
}
